@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");

body {
  padding: 0px;
  line-height: 1.2;
  background-color: rgb(10, 25, 47);
  font-family: "Oswald", "Open Sans", Helvetica, sans-serif;
}
.title-heading {
  color: rgb(204, 214, 246);
  transition-delay: "100ms";
}
.secondary-heading {
  color: rgb(100, 255, 218);
  transition-delay: "100ms";
}

.third-heading {
  color: rgb(136, 146, 176);
  transition-delay: "100ms";
}
